--
-- PostgreSQL database dump
--

-- Dumped from database version 16.9
-- Dumped by pg_dump version 16.9

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.user_roles DROP CONSTRAINT IF EXISTS user_roles_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.user_roles DROP CONSTRAINT IF EXISTS user_roles_role_id_fkey;
ALTER TABLE IF EXISTS ONLY public.password_history DROP CONSTRAINT IF EXISTS password_history_user_id_fkey;
DROP INDEX IF EXISTS public.idx_users_username;
DROP INDEX IF EXISTS public.idx_password_history_user;
DROP INDEX IF EXISTS public.idx_login_audit_created;
DROP INDEX IF EXISTS public.flyway_schema_history_s_idx;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_username_key;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_pkey;
ALTER TABLE IF EXISTS ONLY public.user_roles DROP CONSTRAINT IF EXISTS user_roles_pkey;
ALTER TABLE IF EXISTS ONLY public.roles DROP CONSTRAINT IF EXISTS roles_pkey;
ALTER TABLE IF EXISTS ONLY public.roles DROP CONSTRAINT IF EXISTS roles_name_key;
ALTER TABLE IF EXISTS ONLY public.password_history DROP CONSTRAINT IF EXISTS password_history_pkey;
ALTER TABLE IF EXISTS ONLY public.login_audit DROP CONSTRAINT IF EXISTS login_audit_pkey;
ALTER TABLE IF EXISTS ONLY public.flyway_schema_history DROP CONSTRAINT IF EXISTS flyway_schema_history_pk;
ALTER TABLE IF EXISTS public.users ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.roles ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.password_history ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.login_audit ALTER COLUMN id DROP DEFAULT;
DROP SEQUENCE IF EXISTS public.users_id_seq;
DROP TABLE IF EXISTS public.users;
DROP TABLE IF EXISTS public.user_roles;
DROP SEQUENCE IF EXISTS public.roles_id_seq;
DROP TABLE IF EXISTS public.roles;
DROP SEQUENCE IF EXISTS public.password_history_id_seq;
DROP TABLE IF EXISTS public.password_history;
DROP SEQUENCE IF EXISTS public.login_audit_id_seq;
DROP TABLE IF EXISTS public.login_audit;
DROP TABLE IF EXISTS public.flyway_schema_history;
SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: citybus
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO citybus;

--
-- Name: login_audit; Type: TABLE; Schema: public; Owner: citybus
--

CREATE TABLE public.login_audit (
    id bigint NOT NULL,
    user_id bigint,
    username_attempt character varying(128),
    success boolean NOT NULL,
    ip_address character varying(64),
    user_agent character varying(512),
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.login_audit OWNER TO citybus;

--
-- Name: login_audit_id_seq; Type: SEQUENCE; Schema: public; Owner: citybus
--

CREATE SEQUENCE public.login_audit_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.login_audit_id_seq OWNER TO citybus;

--
-- Name: login_audit_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: citybus
--

ALTER SEQUENCE public.login_audit_id_seq OWNED BY public.login_audit.id;


--
-- Name: password_history; Type: TABLE; Schema: public; Owner: citybus
--

CREATE TABLE public.password_history (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    password_hash character varying(255) NOT NULL,
    changed_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.password_history OWNER TO citybus;

--
-- Name: password_history_id_seq; Type: SEQUENCE; Schema: public; Owner: citybus
--

CREATE SEQUENCE public.password_history_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.password_history_id_seq OWNER TO citybus;

--
-- Name: password_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: citybus
--

ALTER SEQUENCE public.password_history_id_seq OWNED BY public.password_history.id;


--
-- Name: roles; Type: TABLE; Schema: public; Owner: citybus
--

CREATE TABLE public.roles (
    id bigint NOT NULL,
    name character varying(64) NOT NULL,
    description character varying(255)
);


ALTER TABLE public.roles OWNER TO citybus;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: citybus
--

CREATE SEQUENCE public.roles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.roles_id_seq OWNER TO citybus;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: citybus
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: user_roles; Type: TABLE; Schema: public; Owner: citybus
--

CREATE TABLE public.user_roles (
    user_id bigint NOT NULL,
    role_id bigint NOT NULL
);


ALTER TABLE public.user_roles OWNER TO citybus;

--
-- Name: users; Type: TABLE; Schema: public; Owner: citybus
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    username character varying(128) NOT NULL,
    password_hash character varying(255) NOT NULL,
    enabled boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO citybus;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: citybus
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO citybus;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: citybus
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: login_audit id; Type: DEFAULT; Schema: public; Owner: citybus
--

ALTER TABLE ONLY public.login_audit ALTER COLUMN id SET DEFAULT nextval('public.login_audit_id_seq'::regclass);


--
-- Name: password_history id; Type: DEFAULT; Schema: public; Owner: citybus
--

ALTER TABLE ONLY public.password_history ALTER COLUMN id SET DEFAULT nextval('public.password_history_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: citybus
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: citybus
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: public; Owner: citybus
--

COPY public.flyway_schema_history (installed_rank, version, description, type, script, checksum, installed_by, installed_on, execution_time, success) FROM stdin;
1	1	auth tables	SQL	V1__auth_tables.sql	863813014	citybus	2026-04-13 10:20:41.626355	118	t
2	2	seed roles and admin	SQL	V2__seed_roles_and_admin.sql	837404796	citybus	2026-04-13 10:20:41.805933	9	t
3	3	seed demo users	SQL	V3__seed_demo_users.sql	-127042940	citybus	2026-04-13 12:15:28.919164	38	t
\.


--
-- Data for Name: login_audit; Type: TABLE DATA; Schema: public; Owner: citybus
--



--
-- Data for Name: password_history; Type: TABLE DATA; Schema: public; Owner: citybus
--

COPY public.password_history (id, user_id, password_hash, changed_at) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: citybus
--

COPY public.roles (id, name, description) FROM stdin;
1	ADMIN	System administrator
2	DISPATCHER	Dispatcher operations
3	PASSENGER	Passenger self-service
\.


--
-- Data for Name: user_roles; Type: TABLE DATA; Schema: public; Owner: citybus
--

COPY public.user_roles (user_id, role_id) FROM stdin;
1	1
2	2
3	3
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: citybus
--

COPY public.users (id, username, password_hash, enabled, created_at, updated_at) FROM stdin;
1	admin	$2b$10$blYB.fEDaJLEEcrO1NBO3uiqC0/Rk8p6c.vCiGCxGe4I6bemnZ1OC	t	2026-04-13 10:20:41.817669+00	2026-04-13 10:20:41.817669+00
2	dispatcher1	$2b$10$blYB.fEDaJLEEcrO1NBO3uiqC0/Rk8p6c.vCiGCxGe4I6bemnZ1OC	t	2026-04-13 12:15:28.960688+00	2026-04-13 12:15:28.960688+00
3	passenger1	$2b$10$blYB.fEDaJLEEcrO1NBO3uiqC0/Rk8p6c.vCiGCxGe4I6bemnZ1OC	t	2026-04-13 12:15:28.960688+00	2026-04-13 12:15:28.960688+00
\.


--
-- Name: login_audit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: citybus
--

SELECT pg_catalog.setval('public.login_audit_id_seq', 3, true);


--
-- Name: password_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: citybus
--

SELECT pg_catalog.setval('public.password_history_id_seq', 1, false);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: citybus
--

SELECT pg_catalog.setval('public.roles_id_seq', 3, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: citybus
--

SELECT pg_catalog.setval('public.users_id_seq', 3, true);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: citybus
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: login_audit login_audit_pkey; Type: CONSTRAINT; Schema: public; Owner: citybus
--

ALTER TABLE ONLY public.login_audit
    ADD CONSTRAINT login_audit_pkey PRIMARY KEY (id);


--
-- Name: password_history password_history_pkey; Type: CONSTRAINT; Schema: public; Owner: citybus
--

ALTER TABLE ONLY public.password_history
    ADD CONSTRAINT password_history_pkey PRIMARY KEY (id);


--
-- Name: roles roles_name_key; Type: CONSTRAINT; Schema: public; Owner: citybus
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_name_key UNIQUE (name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: citybus
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: user_roles user_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: citybus
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_pkey PRIMARY KEY (user_id, role_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: citybus
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: citybus
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: citybus
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: idx_login_audit_created; Type: INDEX; Schema: public; Owner: citybus
--

CREATE INDEX idx_login_audit_created ON public.login_audit USING btree (created_at);


--
-- Name: idx_password_history_user; Type: INDEX; Schema: public; Owner: citybus
--

CREATE INDEX idx_password_history_user ON public.password_history USING btree (user_id);


--
-- Name: idx_users_username; Type: INDEX; Schema: public; Owner: citybus
--

CREATE INDEX idx_users_username ON public.users USING btree (username);


--
-- Name: password_history password_history_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: citybus
--

ALTER TABLE ONLY public.password_history
    ADD CONSTRAINT password_history_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_roles user_roles_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: citybus
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE CASCADE;


--
-- Name: user_roles user_roles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: citybus
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

